* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.heading-container {
    height: 60px;
    width: 50%;
    display: flex;
    margin-top: 1rem;
    background-color: rgb(23, 23, 23);
    align-items: center;
    position: relative;
}

.heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #8A75E6;
    width: 50%;
    margin-left: 1rem;

}

.home {
    position: absolute;
    right: 1rem;
    color: rgb(185, 185, 185);
    font-size: 1.5rem;

}

.home:hover {
    color: rgb(255, 255, 255);

}



.activity-info {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50%;

}

.main-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.4rem;

}

.margin {
    border: 1px solid rgb(50, 50, 50);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxes {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.container {
    height: 100px;
    width: 160px;
    background-color: rgb(45, 44, 44);
    position: relative;
    border-radius: 5px;
}


.icon {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    font-size: 1.5rem;
    color: #8A75E6;
}

.label {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: rgb(176, 175, 175);
}

.info {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    font-size: 1.5rem;
    color: #e6e6e6;
}

.container-chart {
    height: 70vh;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}